<h1>id = <%= @task.id %>のタスク詳細</h1>

<p>content: <%= @task.content %></p>
<p>status: <%= @task.status %></p>

<p><%= link_to '一覧に戻る', tasks_path %></p>

<% if logged_in? && correct_user? %>
  <%= link_to 'このタスクを編集する', edit_task_path(@task) %>
  <%= link_to 'このタスクを削除する', @task, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
<% end %>  